var config = {
    // Replace this with your own bot token!
    "token": "insert token here",

    // Put your own user ID here to identify yourself to the bot as its owner
    "ownerID": "insert id here",

    // This is the prefix the bot will use by default, if no server-specific prefix is set
    "prefix": "gm!",

    // This is the limit on how many games can be run in each server at once
    // Keep this low in order to save on memory usage
    "gamesPerServer": 1
};

module.exports = config;
